.title {
  text-align: center;
  height: 100px;
  padding: 10px;
  background-color: cornflowerblue;
  color: white;
}

.add-note {
  padding: 10px;
  background-color: floralwhite;
}

.add-note textarea {
  resize: none;
}

.notes-list {
  padding: 10px;
  background-color: paleturquoise;
  padding-top: 20px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 5px;
}

.button-delete {
  cursor: pointer;
}
